<div class="profile-page">

  <nav>
    <a href="/"><img src="/images/logo_black_white_yellow.png" alt="Logo ST_ART"></a>

    <div>
    
      <a href="" id="search-city-nav">Search City...</a>
      {{#if user}}

      <a href="/logout">Logout</a>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </div>
  </nav>


  <div class="main-profilepage">
    <div class="first-part">
      <div id="box-big">
            {{#if user}}
            <h1>User profile</h1>
            {{else}}
            <h2>You are not logged in, please <a href="/login">login</a>!</h2>
            {{/if}}
            {{#if user}}
            <h2>Welcome, {{ user.username }}!</h2>
            {{/if}}
      </div>

      <div class="upload-profile-picture">
          <img src="{{ user.profileImgUrl }}" alt="Profile picture: "{{ user.username }}>

          <form action="/userProfile/edit-{{user._id}}" enctype="multipart/form-data" method="POST" >
            <label for="input-profile-picture">Change profile picture</label>
            <input type="file" name='profile-picture' id="input-profile-picture"> 
            <button id="button-no-style">Submit</button>
          </form>
      </div>
    </div>
    <hr>
    <h2>Your uploads</h2>
    <div class="my-uploads">
      
      {{#each posts}}
      <div>
        <div class="img-userProfile-uploads">
          <img src={{streetArtImgUrl}} alt="picture street art of" {{artist}} >
        </div>
        <div class="info-my-uploads">
          <div>
            <a href="/streetart/artwork/details-{{id}}">Details</a>
            <p>{{dateFormat streetart.createdAt "dddd, MMMM Do YYYY"}}</p>
            
            <p>{{fullAddress}}</p>
          </div>
           
        </div>
      </div>
      {{/each}}
    </div>
    

    
  </div>

  <div class="right-side-user">
      <div id="overview-info-user">
          <a href="javascript:javascript:history.go(-1)" >< back</a>

        <div id="search-field">
          <form method="POST" action="">
            <input type="search" name='search' placeholder="Find a city......." id="search-city" aria-label="Search for city">
            <input type="submit" name="Search" id="submit-search" value='Go'>
          </form>
          <a href="" id="hide-search">Hide search</a>
          <hr>
        </div>


        <div class="add" id="add-art">
          <h2>Add new Street Art</h2>
          <p id="spotted-art">Spotted some new Street Art?</p>
          {{#if user}}
            <button id="add-btn-citymap">Add</button>
          {{else}}
            <p> <a href="/login?redirect={{loginRedirect}}"> Login</a> to upload</p>
          {{/if}}
        </div> 


      </div>


    </div>
  

</div>








