<main id="map-page">
  <div id="map"></div>
  
  <div class="right-side">   
      {{> navSmall}}
   
    <div class="overview-info">

  
      <h1>{{city}} Street Art</h1>


      <div class="add" id="add-art">
        <h2>Add new Street Art</h2>
        <p>Spotted some new Street Art?</p>
        {{#if user}}
          <button id="add-btn-citymap">Add</button>
        {{else}}
          <p> <a href="/login?redirect={{loginRedirect}}"> Login</a> to upload</p>
        {{/if}}
      </div> 

      <hr>
      
      <div class="uploads">
        {{#if user}}
          <h2>Your latest uploads</h2>
          {{#each streetArtByUser}}
            <div class="img-user-uploads">
              <img src={{streetArtImgUrl}} alt="picture street art of" {{artist}} id="uploads-user">
            </div>
            <div class="info-uploads">
              <p>{{fullAddress}}</p>
              <p>{{createdAt}}</p>
              <a href="/streetart/artwork/details-{{id}}">Details</a>
            </div>
          {{/each}}
            <hr>
        {{/if}}
           
      </div>

 
      
      <div class="uploads">
        <h2>Latest posts from the community</h2> 
        <p>What is happening in the streets....</p>
        {{#each posts}}
        <div class="img-uploads">
          <img src={{streetArtImgUrl}} alt="picture street art of" {{artist}}>
        </div>
        <div class="info-uploads">
          <p>{{fullAddress}}</p>
          <p>{{createdAt}}</p>
          <a href="/streetart/artwork/details-{{id}}">Details</a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

</main>



