<main id="map-page">
  <div id="map"></div>
  
  <div class="right-side">   
      {{> navSmall}}
   
    <div id="overview-info">
      <div id="search-field">
          <form method="POST" action="">
            <input type="search" name='search' placeholder="Find a city......." id="search-city" aria-label="Search for city">
            <input type="submit" name="Search" id="submit-search" value='Go'>
          </form>
          <a href="" id="hide-search">Hide search</a>
          <hr>
      </div>
  
      <h1>{{city}} Street Art</h1>


      <div class="add" id="add-art">
        <h2>Add new Street Art</h2>
        <p id="spotted-art">Spotted some new Street Art?</p>
        {{#if user}}
          <button id="add-btn-citymap">Add</button>
        {{else}}
          <p> <a href="/login?redirect={{loginRedirect}}"> Login</a> to upload</p>
        {{/if}}
      </div> 

      <hr>
      
      <div class="uploads">
        {{#if user}}
          <h2>Your latest uploads</h2>

          {{#if streetArtByUser}}
          <p>To see all your uploads, check your <a href="/userprofile" id='see-profile'> profile.</a></p>
            {{#each streetArtByUser}}
              <div class="img-user-uploads">
                <img src={{streetArtImgUrl}} alt="picture street art of" {{artist}} id="uploads-user">
              </div>
              <div class="info-uploads">
                <div>
                  <a href="/streetart/artwork/details-{{id}}">Details</a>
                  <p>{{fullAddress}}</p>
                  <p> {{dateFormat streetart.createdAt "dddd, MMMM Do YYYY"}}</p>
                </div>
              
              </div>
            {{/each}}
             
          {{else}}
          <p>You haven't uploaded any street art for {{city}}. Start spotting!</p>
          {{/if}}
           <hr>
        {{/if}}
           
      </div>

 
      
      <div class="uploads">
        <h2>Latest posts from the community</h2> 
        
        {{#if posts}}
        <p>What is happening in the streets....</p>
          {{#each posts}}
          <div class="img-uploads">
            <img src={{streetArtImgUrl}} alt="picture street art of" {{artist}}>
          </div>
          <div class="info-uploads">
            <div>
              <a href="/streetart/artwork/details-{{id}}">Details</a>
              <p> {{dateFormat streetart.createdAt "dddd, MMMM Do YYYY"}}</p>
               <p>{{fullAddress}}</p>
            </div>
            
          </div>
          {{/each}}
        {{else}}
        <p>No street art is uploaded yet for {{city}}.</p>
        {{/if}}
      </div>

    </div>
  </div>

</main>



