<main id="map-page">
  <div id="street-art">
    <img src={{streetart.streetArtImgUrl}} alt="picture street art of" {{streetart.artist}}>
  </div>
  
  <div class="right-side">   
      {{> navSmall}}
   
    <div class="overview-info">
    <a href="javascript:javascript:history.go(-1)"> < back</a>
     <p>Created at: {{streetart.createdAt}}</p>
     <p>Address: {{streetart.fullAddress}}</p>
     <p>Created by {{streetart.artist}}</p>
     <p>Name artwork {{streetart.name}}</p>
     <p>Uploaded by: {{user.username}}</p>
     <img src={{user.profileImgUrl}} alt="Profile picture of user {{user.username}}">   

     {{#if user}}
      hello
     {{/if}}


    </div>
 </div>

</main>